*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}
body{
	background: pink;
}
.container{
	width: 100vh;
	margin: 200px auto;
}
button{
	background: blue;
	color: white;
	padding: 10px;
	margin : 10px;
	cursor: pointer;
}
button:hover{
	background: rgba(0,0,255,0.4)
}
.start-btn{
	background: red;
	border-radius: 10px;
	width: 30%;
}
.welcome{
	font-size: 25px;
}
.reg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.reg div{
	margin: 10px;
}
label{
	font-weight: bold;
	margin: 10px;
}
input{
	margin: 10px;
	padding: 10px;
	text-align: left;
}
p{
	font-size: 20px;
}


